.centered {
    margin: auto;
    text-align: center;
}

.logo-form {
    width: 160px;
    height: auto;
    margin: auto;
    text-align: center;
}

.input-group {
    padding: 12px 8px;
}

.margin-right30 {
    margin-right: 30px;
}

.padding16px {
    padding: 16px;
}

.font11 {
    font-size: 11px;
}


/*FILEUPLOAD*/

input[type='file'] {
    display: none
}

label.label-fileToUpload {
    background-color: #2c3e50;
    border-radius: 0px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    padding: 6px 20px;
}
/*label fazendo papel do botao de upload*/
label.label-fileToUpload:hover {
    cursor: pointer;
    background-color: #4b5d6f;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*estilo da imagem depois de selecionada*/
.thumb-image { border: 5px solid #2c3e50;}
#image-holder {
    width: 128px;
    height: 128px;
    left: 50%;
    position: relative;
    margin-left: -64px;
    border-radius: 50%;
}

#image-holder img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

button {
    margin: 6px;
}

.transicao {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
